<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>History</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" color="matcha">
      <ion-segment-button value="lend">Lend</ion-segment-button>
      <ion-segment-button value="borrow">Borrow</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card style="border: 2px solid gray">
        <ion-item (click)="toDetailPage(item.uid)" *ngFor="let item of getHistory(type)">
            <h4>{{ item.transactionDate }}</h4>
            <h5>{{ item.description }}</h5>
            <h5>{{ item.amount }}</h5>
          </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
