<ion-header>

  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center style="padding-left: 35px;">Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid text-center>
    <ion-row align-item-center>
      <ion-col>
        <img [src]="capturedDataUrl" alt="" class="circle-pic" >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ name }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Verified status :
        <b ion-text color='secondary' *ngIf="verified">Email verified</b>
        <b ion-text color='danger' *ngIf="!verified">Not verified</b>
      </ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gray; padding-bottom: 15px;">
      <ion-col>{{ phone }}</ion-col>
    </ion-row>
    <ion-row style="margin-top: 15px;">
      <ion-col col-6 style="border-right: 2px solid gray;">Debt Total</ion-col>
      <ion-col col-6>Loan Total</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gray; padding-bottom: 15px;">
      <ion-col col-6 style="border-right: 2px solid gray;">Rp {{ debt }}</ion-col>
      <ion-col col-6>Rp {{ credit }}</ion-col>
      </ion-row>
  </ion-grid>
  <br>
  <button ion-button block outline (click)="moveToEditProfile()">Edit Profile</button>
  <button style="margin-top: 5px;" ion-button block color="secondary" (click)="sendVerificationEmail()" *ngIf="!verified">Verfiy
    email</button>
</ion-content>