<ion-header>
  <ion-navbar>
    <ion-title text-center style="padding-right: 35px;">
      Add Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item style="padding-bottom: 1em;">
    <ion-label floating>Email address</ion-label>
    <ion-input type="email" [(ngModel)]="form_email"></ion-input>
  </ion-item>
  <button ion-button block outline (click)="submitForm(form_email)">Add contact</button>
</ion-content>
