
page-tabs {

    // all tabs
    .tabs-md .tabbar {
        background: #85a08a;
        height: 60px;
    }
    // all tabs texts
    .tabs-md .tab-button .tab-button-icon {
        // border: #50cdf3 !important;
        color: #fff;
        margin-left: -10px;
    }
    // selected tab
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #414f64;
    }
}