<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="usersForm" (ngSubmit)="onSubmitForm()">
    <ion-item>
      <ion-label floating>Email address</ion-label>
      <!-- <ion-input type="text" [(ngModel)]="email"></ion-input> -->
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <!-- <ion-input type="password" [(ngModel)]="password"></ion-input> -->
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <br>
    <!-- <button ion-button block (click)="register(email,password)">Register</button> -->
    <button ion-button type="submit" block [disabled]="!usersForm.valid">Register</button>
  </form>

</ion-content>
