ion-header {
  .toolbar {

    border-top: rgb(179, 179, 179) solid 0.05em;
    height: 50px;

    .toolbar-background {
      background: white;
    }

    .toolbar-title {
      color: #4c5b5c;
      font-size: 20px;
    }

    .searchbar{
      padding: -10px;
    }

  }
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.4em;
    height: 1.4em;
  }
  &[class*="custom-home"] {
    mask-image: url(../assets/fa/home-solid.svg);
  }
  &[class*="custom-user"] {
    mask-image: url(../assets/fa/user-solid.svg);
  }
  &[class*="custom-history"] {
    mask-image: url(../assets/fa/history-solid.svg);
  }
  &[class*="custom-contact"] {
    mask-image: url(../assets/fa/address-book-solid.svg);
  }
  &[class*="custom-money"] {
    mask-image: url(../assets/fa/money-check-alt-solid.svg);
  }
}

ion-card {
  border-radius: 15px;
}

.card-content-md{
  padding: 0px 0px;
}