// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  matcha:     #85a08a,
  redDanger:  #fe5f55
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face{
  font-family: 'Avenir';
  font-style: bold;
  src: url('../assets/fonts/AvenirLTStd-Black.otf')
}

@font-face{
  font-family: 'Avenir';
  font-style: normal;
  src: url('../assets/fonts/AvenirLTStd-Book.otf')
}

@font-face{
  font-family: 'Avenir';
  font-style: thin;
  src: url('../assets/fonts/AvenirLTStd-Roman.otf')
}

@font-face{
  font-family: 'Brendon';
  font-style: normal;
  src: url('../assets/fonts/Brendon-Smooth.ttf')
}

@font-face{
  font-family: 'Glacial Indifference';
  font-style: bold;
  src: url('../assets/fonts/GlacialIndifference-Bold.otf')
}

@font-face{
  font-family: 'Glacial Indifference';
  font-style: italic;
  src: url('../assets/fonts/GlacialIndifference-Italic.otf')
}

@font-face{
  font-family: 'Glacial Indifference';
  font-style: normal;
  src: url('../assets/fonts/GlacialIndifference-Regular.otf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: Bold;
  src: url('../assets/fonts/OpenSans-Bold.ttf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: BoldItalic;
  src: url('../assets/fonts/OpenSans-BoldItalic.ttf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: Italic;
  src: url('../assets/fonts/OpenSans-Italic.ttf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: Light;
  src: url('../assets/fonts/OpenSans-Light.ttf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: LightItalic;
  src: url('../assets/fonts/OpenSans-LightItalic.ttf')
}

@font-face{
  font-family: 'Open Sans';
  font-style: normal;
  src: url('../assets/fonts/OpenSans-Regular.ttf')
}

@font-face{
  font-family: 'Stay Writer';
  font-style: Bold;
  src: url('../assets/fonts/StayWriter-Bold.otf')
}

@font-face{
  font-family: 'Stay Writer';
  font-style: normal;
  src: url('../assets/fonts/StayWriter-Handmade.otf')
}

button{
  font-family: "Open Sans" !important;
  font-style: "bold" !important;
}

ion-title{
  font-family: "Glacial Indifference" !important;
  font-style: "normal" !important;
}

ion-label{
  font-family: "Glacial Indifference" !important;
  font-style: "normal" !important;
}

ion-col, ion-input{
  font-family: "Avenir" !important;
  font-style: "thin" !important;
}

#titleHome{
  font-family: "Stay Writer" !important;
  font-style: "normal" !important;
  font-size: 22px !important;
}

#list{
  font-family: "roboto" !important;
}

#list{
  font-family: "avenir" !important;
  font-style: thin !important;
}
