<ion-header text-center>

  <ion-navbar>
    <ion-title text-center>Contact Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="content">
  <ion-grid text-center>
    <ion-row align-item-center>
      <ion-col>
        <img src="assets/imgs/profile.png">
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 20px; font-size: 2.5em;">
      <!-- <ion-col>Kristoforus M.</ion-col> -->
      <ion-col>{{ contactDetail.email }}</ion-col>
    </ion-row>

    <ion-row style=" border-top: 2px solid gray; padding: 15px;">
        <ion-col>Phone Number:</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gray;  padding-bottom: 15px;">
        <ion-col>+6281246251358</ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <button style="margin-top: 5px;" ion-button block color="danger" (click)="deleteContact()">Delete</button>
</ion-content>
