
<ion-header no-border>
  <ion-navbar>
    <ion-title text-center>Pay Up</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar >
      <ion-searchbar></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content >
  <ion-card style="border: 2px solid gray">
    <ion-card-content>  
      <ion-grid>
        <ion-row>
          <ion-col style="padding-left: 5%;">
            <ion-row id="titleHome" style="color: #4c5b5c">Overview's</ion-row>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col col-6 style="padding-left: 5%;">
              <ion-row style="border-right: 2px solid gray;">Lend</ion-row>
              <ion-row style="border-right: 2px solid gray;">Rp {{ credit }}</ion-row>
            </ion-col>
          <ion-col col-6 style="padding-left: 5%;">
            <ion-row>Borrow</ion-row>
            <ion-row>Rp {{ debt }}</ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let item of transactionList">
    <ion-card style="border-top: 5px solid #fe5f55" (click)="toOngoingPage(item.uid)" *ngIf="item.type == 'lend'">
      <ion-card-content>  
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-3 style="padding-left: 5%;">
                <img src="assets/imgs/profile.png">
            </ion-col>
            <ion-col id="list" col-9 style="padding-left: 5%;">
              <ion-row *ngIf="item.type == 'lend'">Creditor</ion-row>
              <ion-row *ngIf="item.type == 'borrow'">Debtor</ion-row>
              <ion-row>{{ name }}</ion-row>
              <ion-row>Rp {{ item.amount }}</ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card style="border-top: 5px solid #94fbab" (click)="toOngoingPage(item.uid)" *ngIf="item.type == 'borrow'">
      <ion-card-content>  
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-3 style="padding-left: 5%;">
                <img src="assets/imgs/profile.png">
            </ion-col>
            <ion-col id="list" col-9 style="padding-left: 5%;">
              <ion-row *ngIf="item.type == 'lend'">Creditor</ion-row>
              <ion-row *ngIf="item.type == 'borrow'">Debtor</ion-row>
              <ion-row>{{ name }}</ion-row>
              <ion-row>Rp {{ item.amount }}</ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- [ngStyle]="{'background-color': border}" -->
