<ion-header text-center>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only (click)="moveToAddNewContact()">
        <i class="fas fa-user-plus" style="font-size: 1.5em;"></i>
      </button>
    </ion-buttons>
    <ion-title text-center style="padding-left: 35px;">Contact List</ion-title>
  </ion-navbar>
  <!-- <ion-toolbar >
      <ion-searchbar></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let c of contactList">
    <!-- <ion-item-sliding (click)="toDetailPage(c.uid)" > -->
    <ion-item (click)="toDetailPage(c)">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-3 style="padding-left: 5%;">
            <img src="assets/imgs/profile.png">
          </ion-col>
          <ion-col col-9 style="padding-left: 5%;">
            <ion-row>{{ c.email }}</ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
      <!-- <ion-item-options>
        <button ion-button color="danger" (click)="deleteContact(c)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding> -->
  </ion-list>
</ion-content>
