<ion-header>

  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>Ongoing</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding id="content">
  <ion-grid text-center>
    <ion-row align-item-center>
      <ion-col>
        <img src="assets/imgs/profile.png">
      </ion-col>
    </ion-row>
    <ion-row style="padding-bottom: 20px; font-size: 2.5em;">
      <ion-col>Kristo</ion-col>
    </ion-row>
    <ion-row style=" border-top: 2px solid gray; padding: 15px;">
        <ion-col>Total Debt:</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gray;  padding-bottom: 15px;">
        <ion-col>Rp. 100.000</ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="border: 2px solid gray">
    <ion-card-content>  
      <ion-grid>
        <ion-row>
          <ion-col style="padding-left: 5%;">
            <ion-row id="titleHome" style="color: #4c5b5c;">Description</ion-row>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col style="padding-left: 5%; padding-right: 5%; padding-bottom: 1em;">
              <ion-row>Hutang makan makannn</ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
   <img [src]="capturedDataUrl" alt=""/>  
  <button ion-button block outline (click)="uploadImage()" *ngIf="type == 'borrow'">Upload</button>
  <button ion-button block outline (click)="fetchPicture()" *ngIf="type == 'borrow'">Preview</button>
  <button ion-button block outline (click)="payDebt()" *ngIf="type == 'borrow'">Pay</button>
</ion-content>
