<ion-header no-border>

  <ion-navbar>
    <ion-title text-center>Add</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="addForm" (ngSubmit)="onAddTransaction()">
    <ion-list>
      <ion-item>
        <ion-label fixed style="min-width: 120px;">Transaction Type</ion-label>
        <ion-select formControlName="type">
          <ion-option text-left value="lend">Lend</ion-option>
          <ion-option value="borrow">Borrow</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="type.hasError('required') && type.touched">
        <p>Transaction type is required</p>
      </ion-item>
      <ion-item *ngIf="type.dirty">
        <ion-label fixed style="min-width: 120px;" *ngIf="type.value == 'lend'">Debtor</ion-label>
        <ion-label fixed style="min-width: 120px;" *ngIf="type.value == 'borrow'">Creditor</ion-label>
        <ion-select formControlName="name">
          <ion-option *ngFor="let c of contactList" value="{{ c.uid }}">{{ c.email }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed style="min-width: 120px;">Amount</ion-label>
        <ion-input type='number' placeholder="Amount" formControlName="amount" (ionBlur)="checkAmount()"></ion-input>
      </ion-item>
      <ion-item *ngIf="amount.hasError('required') && amount.touched">
        <p>Amount is required</p>
      </ion-item>
      <ion-item *ngIf="errorAmount && amount.touched">
          <p>Minimum amount is 1000</p>
        </ion-item>
      <ion-item>
        <ion-label fixed style="min-width: 120px;">Date of Loan</ion-label>
        <ion-datetime text-left displayFormat="DD/MM/YYYY" formControlName="date" [min]="minDate" [max]="maxDate" (ionBlur)="checkDate()"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="date.hasError('required') && date.touched">
        <p>Date is required</p>
      </ion-item>
      <ion-item *ngIf="errorDate && date.touched">
        <p>Date must not be in the past</p>
      </ion-item>
      <ion-item>
        <ion-label fixed style="min-width: 120px;">Description</ion-label>
        <ion-textarea type='text' placeholder="Description" formControlName="description" ></ion-textarea>
      </ion-item>
      <ion-item *ngIf="description.hasError('required') && description.touched">
        <p>Description is required</p>
      </ion-item>
    </ion-list>
    <button ion-button block type="submit" [disabled]="!addForm.valid">Submit</button>
  </form>
</ion-content>
