<ion-header>

  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title text-center>History Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="content">
  <ion-grid text-center>
    <ion-row style="padding-bottom: 20px; font-size: 2.5em;">
      <ion-col>{{ name }}</ion-col>
    </ion-row>
    <ion-row style=" border-top: 2px solid gray; padding: 15px;">
        <ion-col>Total Debt:</ion-col>
    </ion-row>
    <ion-row style="border-bottom: 2px solid gray;  padding-bottom: 15px;">
        <ion-col>{{ amount }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-card style="border: 2px solid gray">
    <ion-card-content>  
      <ion-grid>
        <ion-row>
          <ion-col style="padding-left: 5%;">
            <ion-row id="titleHome" style="color: #4c5b5c;">Description</ion-row>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col style="padding-left: 5%; padding-right: 5%; padding-bottom: 1em;">
              <ion-row>{{ description }}</ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
  