page-edit-profile {
    .circle-pic{
        width:118px;
        height:118px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }

    .uploadButton
    {
        margin-left: 20%;
    }
}
