<!--
  Generated template for the EditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="gallery-button" text-center>
    <!-- <img *ngIf="imageSrc" [src]="image" alt=""/>   -->
    <img *ngIf="pictureUploaded==false" src="assets/imgs/profile.png" alt="" class="circle-pic" >
    <img *ngIf="pictureUploaded==true" [src]="capturedDataUrl" alt="" class="circle-pic" >
  </div>


  <br>
  <button ion-button round class="uploadButton" (click)="uploadImage()">Upload Profile Picture</button>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmitForm()">
    <ion-item>
      <ion-label fixed>Username</ion-label>
      <ion-input text-right type="text" formControlName="username" value="{{ username }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Full Name</ion-label>
      <ion-input text-right type="text" formControlName="name" value="{{ name }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dob" [min]="minDate" [max]="today" (ionBlur)="checkDate()" [(ngModel)]="dob"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select formControlName="gender">
        <ion-option value="m" [selected]="checkMale()">Male</ion-option>
        <ion-option value="f" [selected]="checkFemale()">Female</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label fixed>Phone</ion-label>
      <ion-input text-right type="text" formControlName="phone" value="{{ phone }}"></ion-input>
    </ion-item>

    <br>
    <button ion-button type="submit" block [disabled]="!profileForm.valid">Save</button>
  </form>
</ion-content>